    /*
    Flaticon icon font: Flaticon
    Creation date: 08/01/2019 09:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./flat-icon/analytics/Flaticon.eot");
  src: url("./flat-icon/analytics/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./flat-icon/analytics/Flaticon.woff") format("woff"),
       url("./flat-icon/analytics/Flaticon.ttf") format("truetype"),
       url("./flat-icon/analytics/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./flat-icon/analytics/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-rocket:before { content: "\f100"; }
.flaticon-002-calculator:before { content: "\f101"; }
.flaticon-003-money-bag:before { content: "\f102"; }
.flaticon-004-schedule:before { content: "\f103"; }
.flaticon-005-hourglass:before { content: "\f104"; }
.flaticon-006-upload:before { content: "\f105"; }
.flaticon-007-shield:before { content: "\f106"; }
.flaticon-008-idea:before { content: "\f107"; }
.flaticon-009-cloud:before { content: "\f108"; }
.flaticon-010-flag:before { content: "\f109"; }
.flaticon-011-time:before { content: "\f10a"; }
.flaticon-012-satellite:before { content: "\f10b"; }
.flaticon-013-binoculars:before { content: "\f10c"; }
.flaticon-014-phone:before { content: "\f10d"; }
.flaticon-015-analysis:before { content: "\f10e"; }
.flaticon-016-bars:before { content: "\f10f"; }
.flaticon-017-seo-and-web:before { content: "\f110"; }
.flaticon-018-money:before { content: "\f111"; }
.flaticon-019-laptop:before { content: "\f112"; }
.flaticon-020-phone-1:before { content: "\f113"; }
.flaticon-021-globe:before { content: "\f114"; }
.flaticon-022-strategy:before { content: "\f115"; }
.flaticon-023-pie-chart:before { content: "\f116"; }
.flaticon-024-balance:before { content: "\f117"; }
.flaticon-025-growth:before { content: "\f118"; }
.flaticon-026-clipboard:before { content: "\f119"; }
.flaticon-027-location-pin:before { content: "\f11a"; }
.flaticon-028-briefcase:before { content: "\f11b"; }
.flaticon-029-shopping-cart:before { content: "\f11c"; }
.flaticon-030-target:before { content: "\f11d"; }
.flaticon-031-checked:before { content: "\f11e"; }
.flaticon-032-pie-charts:before { content: "\f11f"; }
.flaticon-033-graphic:before { content: "\f120"; }
.flaticon-034-presentation:before { content: "\f121"; }
.flaticon-035-workers:before { content: "\f122"; }
.flaticon-036-report:before { content: "\f123"; }
.flaticon-037-data-analytics:before { content: "\f124"; }
.flaticon-038-manager:before { content: "\f125"; }
.flaticon-039-settings:before { content: "\f126"; }
.flaticon-040-email:before { content: "\f127"; }
.flaticon-041-stats:before { content: "\f128"; }
.flaticon-042-infography:before { content: "\f129"; }
.flaticon-043-microscope:before { content: "\f12a"; }
.flaticon-044-pyramid:before { content: "\f12b"; }
.flaticon-045-cloud-computing:before { content: "\f12c"; }
.flaticon-046-graphics:before { content: "\f12d"; }
.flaticon-047-graph:before { content: "\f12e"; }
.flaticon-048-graph-1:before { content: "\f12f"; }
.flaticon-049-test-tube:before { content: "\f130"; }
.flaticon-050-folder:before { content: "\f131"; }
    
    $font-Flaticon-001-rocket: "\f100";
    $font-Flaticon-002-calculator: "\f101";
    $font-Flaticon-003-money-bag: "\f102";
    $font-Flaticon-004-schedule: "\f103";
    $font-Flaticon-005-hourglass: "\f104";
    $font-Flaticon-006-upload: "\f105";
    $font-Flaticon-007-shield: "\f106";
    $font-Flaticon-008-idea: "\f107";
    $font-Flaticon-009-cloud: "\f108";
    $font-Flaticon-010-flag: "\f109";
    $font-Flaticon-011-time: "\f10a";
    $font-Flaticon-012-satellite: "\f10b";
    $font-Flaticon-013-binoculars: "\f10c";
    $font-Flaticon-014-phone: "\f10d";
    $font-Flaticon-015-analysis: "\f10e";
    $font-Flaticon-016-bars: "\f10f";
    $font-Flaticon-017-seo-and-web: "\f110";
    $font-Flaticon-018-money: "\f111";
    $font-Flaticon-019-laptop: "\f112";
    $font-Flaticon-020-phone-1: "\f113";
    $font-Flaticon-021-globe: "\f114";
    $font-Flaticon-022-strategy: "\f115";
    $font-Flaticon-023-pie-chart: "\f116";
    $font-Flaticon-024-balance: "\f117";
    $font-Flaticon-025-growth: "\f118";
    $font-Flaticon-026-clipboard: "\f119";
    $font-Flaticon-027-location-pin: "\f11a";
    $font-Flaticon-028-briefcase: "\f11b";
    $font-Flaticon-029-shopping-cart: "\f11c";
    $font-Flaticon-030-target: "\f11d";
    $font-Flaticon-031-checked: "\f11e";
    $font-Flaticon-032-pie-charts: "\f11f";
    $font-Flaticon-033-graphic: "\f120";
    $font-Flaticon-034-presentation: "\f121";
    $font-Flaticon-035-workers: "\f122";
    $font-Flaticon-036-report: "\f123";
    $font-Flaticon-037-data-analytics: "\f124";
    $font-Flaticon-038-manager: "\f125";
    $font-Flaticon-039-settings: "\f126";
    $font-Flaticon-040-email: "\f127";
    $font-Flaticon-041-stats: "\f128";
    $font-Flaticon-042-infography: "\f129";
    $font-Flaticon-043-microscope: "\f12a";
    $font-Flaticon-044-pyramid: "\f12b";
    $font-Flaticon-045-cloud-computing: "\f12c";
    $font-Flaticon-046-graphics: "\f12d";
    $font-Flaticon-047-graph: "\f12e";
    $font-Flaticon-048-graph-1: "\f12f";
    $font-Flaticon-049-test-tube: "\f130";
    $font-Flaticon-050-folder: "\f131";