<template>
    <div class="">
            <page-header title="Utilisateurs">
              <div slot="nav">
                <div class=" drowpdown mr-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle mr-3"></i>Exporter vers
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a :href="excelUrl"  class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-excel t-plus-1 text-success fa-fw fa-lg "></i> EXCEL</a>
                    </div>
                    </div>
              </div>
            </page-header>
            <div class="col-md-12">
              <div :class="['card bg-transparent']" >
               <div :class="['card-header pl-0']">
                    <h3 class="card-title mb-0">
                        <button @click="showModalOnCreate"  class="ml-4 btn btn-xs btn-secondary text-xs"> 
                           <i class="fas fa-plus-circle right"></i>  Nouvel utilisateur
                        </button>
                    </h3>

                    <div class="card-tools d-flex">
                          <select name="" id="" class="filter form-control mr-1" @change="filterRoleEvent">
                            <option value="">Tous les rôles</option>
                            <option :value="role.id" v-for="role in roles" :key="role.id" v-text="role.libelle">Choisissez un role</option>
                             
                          </select>
                         <filter-bar class="recherche" ref="filterBar"></filter-bar>
                    </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive  p-0 position-relative " v-show="!NoDataForSearch && !NoDataAtAll" >
                    <vuetable
                     :css="table" ref="vuetable" 
                     api-url="api/utilisateurs"
                      :fields="columns" 
                           pagination-path=""
                           :per-page="15"
                           @vuetable:loading="onLoading" 
                           @vuetable:loaded="onLoadingDone"
                           :append-params="moreParams" 
                           :http-options="httpOptions"
                           @vuetable:pagination-data="onPaginationData">
                            <template slot="actions" slot-scope="props">   
                            <div class="custom-actions">
                                <button class="btn btn-xs btn-secondary"
                                @click="showModalOnEdit(props.rowData)">
                                <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-xs btn-danger"
                                @click="remove(props.rowData.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </template>
                    </vuetable>
              </div>
              <pa ref="pagination" :is-loading="isLoading"  :pager="[15,25,50,100]" @vuetable-pagination:change-page="onChangePage" v-show="!NoDataForSearch && !NoDataAtAll"   ></pa>
              <!-- /.card-body -->
               </div>
               <no-data-in-search v-show="pageInit" :search="searchTxt" :show="NoDataForSearch" :data-empty="NoDataAtAll"></no-data-in-search>
              <!-- Modal dbt -->
              <b-modal @hidden="reset"  ref="inputModal" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                               @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                        <div class="form-group ">
                            <label class="">Nom complet de l'utilisateur</label>
                            <input class="form-control form-control-sm " name="name" v-model="form.name" type="text"/>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
                        </div>
                         <div class="form-group ">
                             <label class="">Pseudo d'utilisateur</label>
                             <input :class="['form-control form-control-sm', form.errors.has('username')? ' is-invalid' : '']" name="username" v-model="form.username" type="text" />
                             <span class="m-form__help m--font-danger" v-if="form.errors.has('username')" v-text="form.errors.get('username')"></span>
                         </div>                
                        <div class="form-group ">
                            <label class="">E-mail de l'utilisateur</label>
                            <input class="form-control form-control-sm " name="email" v-model="form.email" type="text"/>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('email')" v-text="form.errors.get('email')"></span>
                        </div>
                        <div class="form-group ">
                            <label class="">Rôle de l'utilisateur</label>
                          <multi-select
                             no-ptions="Aucun revendeur disponible" open-direction="bottom"
                             @input="multiSelect($event,'role_id')"
                              v-model="role"  :options="roles" :multiple="false" :taggable="false"
                              :show-labels="false" :searchable="true" :clear-on-select="false"
                              :close-on-select="true"  placeholder="Choisissez le rôle" label="libelle" track-by="id">
                          </multi-select>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('role_id')" v-text="form.errors.get('role_id')"></span>
                        </div>

                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
														<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading">{{ isLoading ? "Processus en cours..." : ModalAction }}</button>
											</div>
               </form>
            </b-modal>
            <!-- Modal fin -->
</div>
    </div>
</template>

<script>

   import  Vuetable from "vuetable-2/src/components/Vuetable";
   import pa from './../../components/pagination/Pagination'
   import Form from "./../../classes/Form"
   import Master from "./../Master.vue";


    export default {
        mixins: [Master],
        data(){
            return{
                modeEdit:false,
                ftime:true,
                hasData:false,
                roles : [],
                role:'',
                form : new Form({
                    name:"",
                    username:"",
                    email:'',
                    id:'',
                    role_id:[]
                }),
                moreParams:{
                  filter:"",
                  filter_role:''
                },
                isLoading:false,
                columns : [
                {
                    name: 'name',
                    title: "Nom Complet"
                },
                {
                    name: 'username',
                    title: "Pseudo"
                },          
                {
                    name: 'email',
                    title: "Adresse e-mail"
                },
                {
                    name: 'role_id',
                    title: "Role",
                    callback: 'getRole'
                },
                {
                    name: 'created_at',
                    title: "Date d'enregistrement",
                    callback: 'formatDate|D-MM-Y à H:mm'
                },
                {
                name: '__slot:actions',   // <----
                title: 'Actions',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                }
                ],
                  table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-striped table-hover',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                      return `<i class="${classes.join(' ')}"></span>`
                    }
                  }
            }
        },
        created()
        {
            this.modeEdit = false
            axios.get("/api/dispatcher/options/utilisateurs").then((response) => 
            { 
               this.roles = response.data.roles

            },
            (error) =>
            {
            });
        },
        mounted() {
                this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                this.$events.$on('filter-reset', e => this.onFilterReset())
        },
        computed:
        {
                     excelUrl()
           {
             return '/utilisateurs/export?format=excel&filter='+this.moreParams.filter+'&filter_role='+this.moreParams.filter_role
           },
            ModalTitle ()
            {
              return  this.modeEdit ? " Modification d'un rôle"  : " Ajout d'un rôle"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Modifier"  : " Ajouter"
            },
            shouldGoToFirstPage()
            {
              if(this.$refs.vuetable)
              {
                return (this.$refs.vuetable.tableData.length) - 1 == 0
              } 
              else
              {
                return false
              }
            },
            filterBarIsFilled()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter != "" ? true : false
                else
                 return false
            },
            searchTxt()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter
                else
                 return ""
            },
            NoDataForSearch()
            {

              return (this.hasData == false && this.filterBarIsFilled == true ) ? true : false
            
            },

            NoDataAtAll()
            {

              return (this.hasData == false && this.filterBarIsFilled == false ) ? true : false
            
            }
        },
        methods: 
        {
                limitText (count) {
              return `et ${count} en plus`
            },
            formatDate: function(value, fmt) 
            {
               return  toDateFormat(value, fmt)
            },
            //Recupere le libellé d'un role
            getRole(value)
            {
               var elem = this.$refs.vuetable.tableData.find( e => e.role_id == value);
               if(elem.role!=null)
                 return elem.role.libelle
               else
                 return "-"
            },
            onPaginationData (paginationData) 
            {
              var users = paginationData.users
              if(this.pageInit==false)
              {
                 this.roles = paginationData.roles
                 this.pageInit =true
              }
              else
              {
                
              }
              this.hasData = users.data.length > 0
              this.$refs.vuetable.tablePagination =users
              this.$refs.vuetable.tableData = users.data
              this.$refs.pagination.setPaginationData(users)
            },
            onChangePage (page) 
            {
               
               this.$refs.vuetable.changePage(page)
            },
            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Patientez svp</span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },
            filterRoleEvent(e)
            {
                 this.moreParams.filter_role= e.target.value
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            onFilterSet (filterText) {
                this.moreParams.filter = filterText
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            onFilterReset () {
                this.moreParams.filter = ""
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            //Retire un role de la BDD
             remove(e)
             {
                 
                  
                  //On demande la confirmation de la suppression
                    alertConfirm("Voulez-vous supprimer ceet utilisateur ?","Suppréssion d'un utilisateur")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                           axios.delete("api/utilisateurs/"+e).then((response) => 
                            { 
                             // on rafraichit la page de donnée actuelle
                              !this.shouldGoToFirstPage ? this.$refs.vuetable.reload() : this.$refs.vuetable.refresh()
                              //on notifie l'effectivité de la suppréssion
                              flash(response.data.message)
                              //On réinitialise le chargement
                              this.isLoading = false


                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un nouveau
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("api/utilisateurs").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$refs.vuetable.refresh()
                  flash("<span>Enregistré <strong>avec succès</strong></span>")

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("api/utilisateurs/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  this.$refs.vuetable.reload()
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Modifié <strong>avec succès</strong></span>")
                  

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  console.log(error)
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.modeEdit = false
                this.reset()
                this.$refs['inputModal'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset()
                this.modeEdit = true
                this.form.name = entity.name
                this.form.email =entity.email
                this.form.role_id=entity.role_id
                this.form.id=entity.id
                 this.form.username =entity.username
                this.role = entity.role
                this.$refs['inputModal'].show()
             },
              //Initialisation du formulaire
              reset()
             {
                
                  this.form.name = ""
                  this.form.username = ""
                  this.form.email =""
                  this.form.role_id=""
                  this.$refs['inputModal'].hide()
                  this.role = ""
                  this.modeEdit = false
                  this.isLoading = false
                  this.moreParams.filter=""
                  this.form.clearErrors()
             },
              multiSelect(e,name)
             {
                 if(e!=null)
                 {
                   this.form.role_id = e.id
                 }
                  if(this.form.errors.has(name))
                  this.form.errors.clear(name)
             },
              
        },
        components:
        {

            Vuetable,
            pa
        }
    }
</script>
<style scoped>
.card-tools .filter
{
  flex:1
}
.card-tools .recherhce
{
  flex:1
}
</style>