<template>
    <div class="">
            <page-header :title=" modeEdit?''+entity.libelle : 'Ajout d\'un nouveau rôle'">
              <div slot="nav">
                  <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <router-link to="/roles" class="">Rôles</router-link >
                          </li>
                        <li class="breadcrumb-item active">Détails</li>
                  </ol>
              </div>
            </page-header>
            <div class="col-md-12">
              <form @submit.prevent="onSubmit" class=" w-50 ml-0 pl-0"  @reset.prevent="reset()" 
                               @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                 <div class="form-row">
                   <div class="col">
                       <div class="form-group">
                          <input type="text" name="libelle" v-model="form.libelle" class="form-control" id="inputPassword2" placeholder="Entrer le nom du rôle">
                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('libelle')" v-text="form.errors.get('libelle')"></span>
                       </div>
                   </div>
                   <div class="col-auto">
                       <button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading">{{ isLoading ? "Processus en cours..." : ModalAction }}</button>
                   </div>
                 </div>


            </form>
            <h4 class="mt-0">Selectionnez  les permissions
                        <button @click="checkAll"  class="ml-4 btn btn-xs btn-secondary text-xs"> 
                           <i class="fas fa-check right"></i>  Tout sélectionner
                        </button>
                        <button @click="uncheckAll"  class="ml-4 btn btn-xs btn-default text-xs"> 
                           <i class="fas fa-ban right"></i>  Tout déselectionner
                        </button>
            </h4>
            <section id="permission" :class="['row']" >
                    <bloc-permission :role-permission='forRole' :name="key" :entity="tp" class="col-md-3" v-for="(tp,key) in permissions" :key="key"></bloc-permission>
            </section>
       </div>
    </div>
</template>

<script>

   import Form from "./../../../classes/Form"
   import BlocPermission from "./../../../components/roles/BlocPermission.vue"
   import Master from "./../../Master.vue";


    export default {
        mixins: [Master],
        data(){
            return{
                modeEdit:false,
                ftime:true,
                hasData:false,
                blocks:[],
                entity:{libelle:""},
                
                permissions:[],
                forRole:[],
                form : new Form({
                    libelle:"",
                    id:'',
                    permissions:[],
                }),
                moreParams:{},
                isLoading:false,
            }
        },
        created()
        {
          this.modeEdit = this.$route.params.id!=undefined
          
                axios.get(this.modeEdit ? "/api/roles/"+this.$route.params.id : "/api/dispatcher/options/role-show").then((response) => 
                { 
             
                       if(this.modeEdit)
                       {
                         this.entity = response.data.role
                         this.form.libelle = this.entity.libelle
                         this.form.id = this.entity.id
                      
                         this.forRole = this.entity.permissions.map( e => {return e.id});
                         this.form.permissions = this.forRole
                       }

                       this.permissions = response.data.permissions
                      // log(Object.keys(this.permissions))
                       window.event.$emit("isLoading",false)
                       if(this.init==true)
                        {
                          this.init =false
                        }
                        if(this.pageInit==false)
                        {
                            this.pageInit =true
                        }
                       
                },
                (error) => {
                         console.log("Promise Rejected:")

                });
  
        },
        mounted() {
                // this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                // this.$events.$on('filter-reset', e => this.onFilterReset())

                window.event.$on('remove-permission-event', (id) =>
                { 
                   this.form.permissions= this.form.permissions.filter(e =>{ return e != id })

                })
                window.event.$on('add-permission-event', (id) =>
                { 
                  this.form.permissions.push(id)
                  
                })
        },
        computed:
        {
            ModalTitle ()
            {
              return  this.modeEdit ? " Modification d'un rôle"  : " Ajout d'un rôle"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Modifier"  : " Ajouter"
            },
            name(index)
            {

              if(!isNaN(index))
              return Object.keys(this.permissions)[index]
              else
              return ""
            
            }
        },
        methods: 
        {

            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Patientez svp</span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },
             checkAll() 
            {
               window.event.$emit('check-all-event')
            },
            uncheckAll() 
            {
               window.event.$emit('uncheck-all-event')
            },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un nouveau
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("/api/roles").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  flash("<span>Rôle enregistré <strong>avec succès</strong></span>")
                  this.$router.push('/roles')

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("/api/roles/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Rôle modifié <strong>avec succès</strong></span>")

                  this.$router.push('/roles')
                  

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
              //Initialisation du formulaire
              reset()
             {
                  this.form.reset();
                  this.modeEdit = false
                  this.isLoading = false
             },
              
        },
        components:
        {

            BlocPermission
        }
    }
</script>